<app-create-posts (create)="createPost()"></app-create-posts>

<ngx-skeleton-loader
  count="3"
  animation="pulse"
  *ngIf="(posts$ | async)?.length == 0 && this.postService.loader"
>
</ngx-skeleton-loader>

<h1 *ngIf="(posts$ | async)?.length == 0 && !this.postService.loader">
  No data has been posted
</h1>

<div class="posts-content">
  <section
  *ngFor="
    let post of posts$ 
      | async | reverse
      | paginate: { itemsPerPage: 3, currentPage: currentPg }
  "
>
  <ngx-skeleton-loader
    count="3"
    animation="pulse"
    *ngIf="this.postService.loader"
  >
  </ngx-skeleton-loader>
  <div *ngIf="!this.postService.loader">
    <li *ngIf="post.userId === userId" (click)="delete(post.propertyId)" >
      DELETE
    </li>
    <li>userId: {{ post.userId }}</li>
    <li>firstName: {{ post.firstName }}</li>
    <li>LastName: {{ post.LastName }}</li>
    <li>username: {{ post.username }}</li>
    <li><img class="small" src="{{ post.userPicture }}"/> </li>
    <li>email: {{ post.email }}</li>
    <li>propertyId: {{ post.propertyId }}</li>
    <li>propertyTitle: {{ post.propertyTitle }}</li>
    <li>propertyDescription: {{ post.propertyDescription }}</li>
    <li>dateCreated_Formated: {{ post.dateCreated_Formated }}</li>
  </div>
  <br>
</section>
</div>

<pagination-controls
  (pageChange)="currentPg = $event"
  *ngIf="!this.postService.loader"
>
  <button (click)="dec()"></button>
  <button (click)="inc()"></button>
  <input type="input" [value]="currentPg" />
</pagination-controls>
