<div class="footer-container">
    <div class="left-container">
        <div class="roomadivsor-flex">
            <img src="/assets/icon/logo/roomadvisor-yellow.png" alt="">
            <a routerLink="#">
                <h1>Room<span class="logo-span">Advisor</span></h1>
            </a>
        </div>
        <div class="link-flex">
            <a routerLink="Home"><img src="/assets/icon/logo/roomadvisor-white.png" alt=""></a>
            <a href="https://github.com/Klylylydeee/angular-roomadvisor/"><i class="fab fa-github fa-sm"></i></a>
            <a href="https://www.messenger.com/t/RoomAdvisor"><i class="fab fa-facebook-messenger fa-sm"></i></a>
            <a href="https://www.twitter.com/t/RoomAdvisor"><i class="fab fa-twitter fa-sm"></i></a>
            <a href="https://www.instagram.com/t/RoomAdvisor"><i class="fab fa-instagram fa-sm"></i></a>
            <a routerLink="Developers"><i class="fas fa-users fa-sm"></i></a>
            <a href="https://klylylydeee.github.io/RoomAdvisor/"><img src="/assets/icon/logo/roomadvisor-white.png" alt=""></a>
        </div>
        <p>All rights reserved to © <a href="#"><span class="logo-span">Room</span><span class="logo-span-span">Advisor</span></a> 2020</p>
    </div>
    <div class="center-container">
        <ul>General Information
            <div class="span"></div>
            <li><a href="" (click) = "noPath()"><i class="fas fa-history fa-sm"></i>The Story of RoomAdvisor</a></li>
            <li><a href="" (click) = "noPath()"><i class="far fa-file fa-sm"></i>Documentations</a></li>
            <li><a href="" (click) = "noPath()"><i class="far fa-question-circle fa-sm"></i>FAQ</a></li>
        </ul>
        <ul>User Information
            <div class="span"></div>
            <li><a href="" (click) = "noPath()"><i class="far fa-question-circle fa-sm"></i>School Administrator</a></li>
            <li><a href="" (click) = "noPath()"><i class="far fa-file fa-sm"></i>Home Owners</a></li>
            <li><a href="" (click) = "noPath()"><i class="fas fa-history fa-sm"></i>Students</a></li>
        </ul>
    </div>
    <div class="right-container">
        <div class="content-container">
            <a href="https://www.google.com/search?rlz=1C1CHBD_enPH886PH887&sxsrf=ALeKk03QLRsnMrnivTv1a2IYfTuLJLrVng%3A1586436904737&ei=KBuPXrHHLKuImAXn7rmYAg&q=puting+kahoy+silang+cavite&oq=puting+kahoy+silang+cavite&gs_lcp=CgZwc3ktYWIQDDIECAAQQzICCCYyBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeOgQIABBHSgkIFxIFMTItNzFKCAgYEgQxMi0yUPcMWPcMYJxXaABwAXgAgAGBAYgBgQGSAQMwLjGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwix-6iBstvoAhUrBKYKHWd3DiMQ4dUDCAw">
                <i class="fas fa-map-marked-alt fa-sm"></i>
                <p>Puting Kahoy, Silang, Cavite, Philippines</p>
            </a>
        </div>
        <div class="content-container">
            <a href="tel:+1-303-499-7111">
                <i class="far fa-envelope fa-sm"></i>
                <p class="p-spacing">(049) 541 12111 and (049) 541 12112</p>
            </a>
        </div>
        <div id="remove" class="content-container">
            <a href="mailto:abc@example.com?subject = Feedback&body = Message">
                <i class="far fa-address-card fa-sm"></i>
                <p class="p-spacing">RoomAdvisor@developers.com</p>
            </a>
        </div>
    </div>
</div>