<div class="container">
  <div class="guideline-header">
    <span class="room">
      Guidelines <span class="advisor">Room</span>Advisor
    </span>
  </div>
  
  <!-- <div class="guideline-body">
      <h2> For Customers  </h2>
      <p> 1. Every Customer must ensure payment booking on our app thru CreditCard, Gcash or Onsite payment using RoomAdvisor App.  </p>
      <p> 2. Every Student must have consent from their parents to book in our Rooms.</p>
      <p> 3. The RoomAdvisor Administrator will not accept accept responsibility for the loss and damage to any personal belongings left by the customer.</p>
      <p> 4. Do not smoke in area where it easily cause of the fire, "NO SMOKING IN BED OR IN THE ROOM"</p>
      <p> 5. Gambling or any other behavior that is againts public morals in the hallways are prohibited.</p>
      <p> 6. Installation of any foreign items to rooms or any part of the building is prohibited.</p>
      <p> 7. Removing item from rooms are moving them to other places in hotel/room is prohibited.</p>
      <p> 8. When being used, DO NOT TOUCH THE FIRE EXTINGUISHER.</p>
      <p> 9. Lodgers must keep noise to a minimum. </p>
      <p> 10. Customers must report any lost of keys immdiately to the Owner. </p>
    </div>
  
  <div class="nosmokingicon">
    <img src="assets/icon/logo/nosmoking.png" alt=""  >  <img src="assets/icon/logo/nodrugs.png" alt=""> <img src="assets/icon/logo/nostealing.png" alt="">
  </div> -->
  <div class="guideline-body-stud">
    <p> 1. Students in private accomodation should ensure that they do not cause
      any annoyance or distress to their neighbors which would bring roomadvisor
      credited apartments/house into dispute. </p>
    <p> 2. Pets are not permitted within the student accomodation.</p>
    <p> 3. Students should have regard for the right of other students and
      residents to have a suitable environment in which to study and live and
      refrain from making excessive noise. For the comfort and safety of other
      students/residents noise levels must be kept to a minimum particularly
      between the hours of 10pm and 8am. Parties and loud music are not permitted.
      Students may, however, gather in each other’s houses socially but must
      ensure that other students/residents are not disturbed. </p>
    <p> 4. As in a hotel the requirements of fire safety in the student
      accommodation is paramount and there is a non-smoking policy within all
      student accommodation. ANY STUDENT FOUND INTERFERING WITH OR OBSTRUCTING ANY
      FIRE PROCEDURE OR PIECE OF EQUIPMENT OR SMOKING WILL BE subject to fines as
      laid down by the Lodging/hotel management. If interference takes place and
      it is not individually admitted, all occupants will pay the full fine. </p>
    <p>These Terms will be applied fully and affect to
      your use of
      RoomAdvisor.com. By using this
      RoomAdvisor.com, you agreed to accept all
      terms and conditions written in here. You
      must not use this
      RoomAdvisor.com if you
      disagree with any of these RoomAdvisor.com
      Standard Terms and
      Conditions.</p>
  </div>
  
</div>
