.bg-app{
    background: url('https://i.ibb.co/VMzVcSQ/Photo-by-John-Alvin-Meron-on-Unsplash.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.432);
}