<!-- <app-navigation></app-navigation>
<div class="router-container">
    <router-outlet></router-outlet>
</div> -->
<!-- <app-footer></app-footer> -->
<div class="min-h-screen bg-green-500 max-md:bg-secondary">
   <p class="font-montserrat bg-mango">Montserrat Roboto Arvo Oswald Mulish</p>
   <p class="font-roboto bg-mango500">Montserrat Roboto Arvo Oswald Mulish</p>
   <p class="font-arvo bg-aqua">Montserrat Roboto Arvo Oswald Mulish</p>
   <p class="font-oswald bg-navy">Montserrat Roboto Arvo Oswald Mulish</p>
   <p class="font-mulish bg-orange">Montserrat Roboto Arvo Oswald Mulish</p>
</div>