<div class="navigation-container">
    <!-- routerLinkActive is the current page selected, so whenever it is activated it uses and 
        applies the css class - active-link -->
    <a routerLinkActive="active-link" routerLink="/Home">Home</a>
    <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/Posts">Posts</a>
    <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/Login">Login</a>
    <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/Signup">Signup</a>
    <a *ngIf="isAuthenticated" (click)="logout()" routerLink="/Home">Logout</a>
</div>
