// Selected component
.active-link{
    color: white;
}

.navigation-container{
    background-color: rgb(185, 141, 141);
    min-height: 12.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation-buttons{
        a{
            padding: 0 1rem;
        }
    }
}

.profile{
    height: 50px;
    width: 50px;
}