<div class="navigation-container app-padding">
    <!-- routerLinkActive is the current page selected, so whenever it is activated it uses and  -->
        <!-- applies the css class - active-link -->
    <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="home">Home</a>
    <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="home"> 
        <img class="profile" src="{{ this.authservice.userPicture }}" >
        Welcome {{ this.authservice.username }} </a>
        
    <div class="navigation-buttons">
        <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="posts/view">Posts</a>
        <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="posts/create">Create</a>
        <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="login">Login</a>
        <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="signup">Signup</a>
        <a *ngIf="isAuthenticated" (click)="logout()" routerLink="/Home">Logout</a>
    </div>
</div>

<!-- <nav class="navigation-container app-padding">
    <div class="navigation-cotainer-brand">
        <h1>RoomsAdvisor.</h1>
    </div>
    <div class="navigation-container-buttons">
        <h1>hi</h1>
    </div>
</nav> -->