<section class="min-h-screen px-16 max-md:px-10 bg-green-300 py-10">

    <div class="grid items-center grid-cols-2 pb-10 max-md:grid-cols-1">
      <div class="pr-20 max-md:pr-0 ">
        <h2 class="mb-4 text-2xl font-extrabold tracking-tight  text-black md:leading-tight sm:text-left md:text-4xl">
          Clear overview for efficient tracking
        </h2>
        <p class="mb-5 text-base text-center text-gray-600 sm:text-left md:text-lg">
          Handle your subscriptions and transactions efficiently with the clear overview in Dashboard. Features like the smart search option allow you to quickly find any data you’re looking for.
        </p>
        <a href="#" class="w-full btn btn-dark btn-lg sm:w-auto">Learn More</a>
      </div>
      <!-- 1.1 set parent height w-full h-full -->
      <!-- 1.2 inline-block overflow-hidden testMe-->
      <div class="relative w-full h-full inline-block overflow-hidden divImage max-md:h-56 ">
        <!-- 1.1 make img adapt to parent height w-full h-full max-w-full max-h-full object-cover-->
        <!-- 1.2 block duration-300 -->
        <img class="absolute right-0 w-full h-full max-w-full max-h-full object-cover block duration-300" src="https://i.ibb.co/qmfy48D/Photo-by-Julian-Lozano.jpg" alt="Photo-by-Julian-Lozano"/>
      </div>
    </div>
  
    <div class="grid items-center grid-cols-2 pb-10 max-md:grid-cols-1">
      <div class="relative w-full h-full inline-block overflow-hidden divImage max-md:h-56 max-md:order-2">
        <img class="absolute right-0 w-full h-full max-w-full max-h-full object-cover block duration-300" src="https://i.ibb.co/qmfy48D/Photo-by-Julian-Lozano.jpg" alt="Photo-by-Julian-Lozano"/>
      </div>
      <div class="pl-20 max-md:pl-0 sm:text-right">
        <h2 class="mb-4 text-2xl font-extrabold tracking-tight text-black md:leading-tight md:text-4xl">
          Clear overview for efficient tracking
        </h2>
        <p class="mb-5 text-base text-center text-gray-600 md:text-lg">
          Handle your subscriptions and transactions efficiently with the clear overview in Dashboard. Features like the smart search option allow you to quickly find any data you’re looking for.
        </p>
        <a href="#" class="w-full btn btn-dark btn-lg sm:w-auto ">Learn More</a>
      </div>
    </div>
  
  </section>