<section class="min-h-screen px-16 max-md:px-10 bg-white-light py-20 text-green-dark divText select-none">

  <h2 class="pb-20 text-4xl font-extrabold font-montserrat">
    Benefits of using the RoomsAdvisor Platform:
  </h2>

  <div class="grid items-center grid-cols-2 pb-24 max-md:grid-cols-1">
    <div class="pr-20 max-md:pr-0 max-md:pt-5">
      <h2 class="mb-4 text-2xl font-extrabold font-montserrat tracking-tight md:leading-tight sm:text-left md:text-4xl">
        Full responsiveness and browser compatibility
      </h2>
      <p class="mb-5 text-base text-gray-600 font-mulish sm:text-justify md:text-lg">
        The RoomsAdvisor's developers are committed to provide a responsive
        design that enables the RoomsAdvisor's website to resize and accommodate
        the website's layout according to the screen size of the user's device.
      </p>
      <a href="#" class="w-full font-roboto btn bg-green-dark hover:bg-green-neon-light-hovered text-white btn-sm sm:w-auto">
        Read More
      </a>
    </div>
    <!-- 1.1 set parent height w-full h-full -->
    <!-- 1.2 inline-block overflow-hidden testMe-->
    <div class="relative w-11/12 max-md:w-full h-full inline-block overflow-hidden divImage max-md:h-56 rounded-lg justify-self-end max-md:order-first">
      <!-- 1.1 make img adapt to parent height w-full h-full max-w-full max-h-full object-cover-->
      <!-- 1.2 block duration-300 -->
      <img class="absolute right-0 w-full h-full max-w-full max-h-full object-cover block duration-300" src="https://i.ibb.co/qmfy48D/Photo-by-Julian-Lozano.jpg" alt="Photo-by-Julian-Lozano" loading="lazy"/>
    </div>
  </div>

  <div class="grid items-center grid-cols-2 max-md:grid-cols-1 pb-24">
    <div class="relative w-11/12 max-md:w-full h-full inline-block overflow-hidden divImage max-md:h-56 rounded-lg">
      <img class="absolute right-0 w-full h-full max-w-full max-h-full object-cover block duration-300" src="https://i.ibb.co/7Yb68Mt/Photo-by-UX-Indonesia.jpg" alt="Photo-by-John-Schnobrich" loading="lazy"/>
    </div>
    <div class="pl-10 max-md:pl-0 sm:text-left max-md:pt-5">
      <h2 class="mb-4 text-2xl font-extrabold font-montserrat tracking-tight md:leading-tight md:text-4xl">
        User friendly experience and engagements
      </h2>
      <p class="mb-5 text-base sm:text-justify font-mulish text-gray-600 md:text-lg">
        The design and implementation of the RoomsAdvisor focus on having a deep
        understanding of users, what they need, what they value, and their
        limitations. And at its core, ensuring that users find the value in the
        use of what RoomsAdvisor is providing.
      </p>
      <a href="#" class="w-full font-roboto btn bg-green-dark hover:bg-green-neon-light-hovered text-white btn-sm sm:w-auto">
        Read More
      </a>
    </div>
  </div>

  <div class="grid items-center grid-cols-2 max-md:grid-cols-1 pb-10">
    <div class="pr-20 max-md:pr-0 max-md:pt-5">
      <h2 class="mb-4 text-2xl font-extrabold font-montserrat tracking-tight md:leading-tight sm:text-left md:text-4xl">
        Data security and encryption
      </h2>
      <p class="mb-5 text-base text-gray-600 font-mulish sm:text-justify md:text-lg">
        All data's and information gathered by the platform is digitally
        encrypted into bits of compact and self-contained alogrithm secrety key.
        Additionally, the database servers are maintained and only accessible by
        an authorized individual.
      </p>
      <a href="#" class="w-full font-roboto btn bg-green-dark hover:bg-green-neon-light-hovered text-white btn-sm sm:w-auto">
        Read More
      </a>
    </div>
    <div class="relative w-11/12 max-md:w-full h-full inline-block overflow-hidden divImage max-md:h-56 rounded-lg justify-self-end max-md:order-first">
      <!-- 1.1 make img adapt to parent height w-full h-full max-w-full max-h-full object-cover-->
      <!-- 1.2 block duration-300 -->
      <img class="absolute right-0 w-full h-full max-w-full max-h-full object-cover block duration-300" src="https://i.ibb.co/bvdDrJg/Photo-by-Brett-Sayles.jpg" alt="Photo-by-Brett-Sayles" loading="lazy"/>
    </div>
  </div>

</section>
