<section class="min-h-screen bg-green-light flex text-white select-none">

    <div class="h-screen w-4/12 max-md:w-full flex flex-col justify-center px-16 max-lg:px-10">
      
      <router-outlet></router-outlet>

    </div>

    <div class="h-screen w-8/12 max-md:hidden">
      <img src="https://i.ibb.co/5rTwKLZ/Photo-by-Austin-Distel.jpg" alt="Photo-by-Austin-Distel" class="object-cover w-full h-full" loading="lazy"/>
    </div>

    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</section>
  
  