<div class="container">
    <div class="margin">
        <div class="flex">
          <div class="slider">
            <figure>
              <img src="{{ dormitory.dormImage }}"
                onerror="javascript:this.src='/assets/img/bdv.jpg'" />
              <img src="{{ dormitory.dormImages }}"
                onerror="javascript:this.src='/assets/img/bdv.jpg'" />
              <img src="{{ dormitory.dormImage }}"
                onerror="javascript:this.src='/assets/img/bdv.jpg'" />
              <img src="{{ dormitory.dormImages }}"
                onerror="javascript:this.src='/assets/img/bdv.jpg'" />
              <img src="{{ dormitory.dormImage }}"
                onerror="javascript:this.src='/assets/img/bdv.jpg'" />
            </figure>
            <div class="gallery-bar">
              <div class="gallery-info">
                <h1><i class="far fa-building"></i>{{ dormitory.dormName }}</h1>
                <h2><i class="fas fa-map-marker-alt"></i>{{ dormitory.dormAdress }}</h2>
                <h2><i class="fas fa-money-bill-wave-alt fa-sm"></i>{{ dormitory.dormMonthlyFee }} / Monthly Fee</h2>
              </div>
              <div class="image-wrap">
                <img src="{{ dormitory.dormDeanImage }}" (error)="setDefaultPic()"/>
              </div>
              <div class="owner-info">
                <h4>Owner: <span> {{ dormitory.dormDeanName }}</span></h4>
                <h4>Age: <span> {{ dormitory.dormDeanAge }}</span></h4>
                <h4>Gender: <span> {{ dormitory.dormDeanGender }}</span></h4>
                <h4>Phone Number: <span> {{ dormitory.dormDeanPhoneNumber }}</span></h4>
                <h4>Email Address: <span> {{ dormitory.dormDeanEmailAddress }}</span></h4>
              </div>
            </div>
            <div class="content">
              <div class="rules">
                <ul>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Description</h2>
                    <p>
                      {{ dormitory.dormDescription }}
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Amenities</h2>
                    <p>
                      <li>Bedrooms: {{ dormitory.dormRooms }}</li>
                      <li>Students per Room: {{ dormitory.dormStudentPerRoom }}</li>
                      <li>Bathrooms: {{ dormitory.dormBathroom }}</li>
                      <li>Television: {{ dormitory.dormTelevision }}</li>
                      <li>Internet Connection: {{ dormitory.dormInternetAccess }}</li>
                      <li>Electric Fan: {{ dormitory.dormElectricFan }}</li>
                      <li>Electricity Connection: {{ dormitory.AptEle }}</li>
                      <li>Kitchen: {{ dormitory.dormKitchen }}</li>
                      <li>Kitchen Utensils: {{ dormitory.dormKitchenUtensils }}</li>
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h2>Terms & Conditions</h2>
                    <p>These Terms will be applied fully and affect to your use of
                      RoomAdvisor.com. By using this RoomAdvisor.com, you agreed to accept all
                      terms and conditions written in here. You must not use this
                      RoomAdvisor.com if you
                      disagree with any of these RoomAdvisor.com Standard Terms and
                      Conditions.
                    </p>
                  </li>
                </ul>
                  </div>
                </div>
              </div>
            <div class="owner">
              <h3>Latest Dormitory</h3>
                <div class="grid-box" *ngFor="let Dormitory of (members | slice: -3).reverse() let i= index">
                  <h4><i class="far fa-building"></i> {{ Dormitory.dormName }}</h4>
                  <h5><i class="far fa-user-circle"></i> {{ Dormitory.dormDeanName }}</h5>
                  <figure>
                    <img src="{{ Dormitory.dormImage }}"
                      onerror="javascript:this.src='/assets/img/bdv.jpg'" />
                    <img src="{{ Dormitory.dormImages }}"
                      onerror="javascript:this.src='/assets/img/bdv.jpg'" />
                    <img src="{{ Dormitory.dormImage }}"
                      onerror="javascript:this.src='/assets/img/bdv.jpg'" />
                    <img src="{{ Dormitory.dormImages }}"
                      onerror="javascript:this.src='/assets/img/bdv.jpg'" />
                    <img src="{{ Dormitory.dormImage }}"
                      onerror="javascript:this.src='/assets/img/bdv.jpg'" />
                  </figure>
                  <h5 class="month">₱{{ Dormitory.dormMonthlyFee }}/Monthly</h5>
                  <a [routerLink]="['/Dormitory/List',
                  Dormitory._id]" class="btn
                        btn-primary"><button>View Page</button></a>
          </div>
        </div>
        </div>
    </div>
  </div>