<!-- <p>home works!</p> -->
<navigation></navigation>
<div class="test-class bg-gray-400"></div>
<about-us></about-us>
<benefits></benefits>
<app-footer></app-footer>
<!-- <ngx-dropzone (change)="onSelect($event)">
	<ngx-dropzone-label>Upload image</ngx-dropzone-label>
	<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
</ngx-dropzone>


<div>
    <button (click)="onUpload()">Subir</button>
</div> -->