<span *ngIf="loading">
    child component {{ propertyId }}
</span>

<div *ngFor="let post of posts$ | async" >
    <span *ngIf="!loading">
    <li>userId: {{ post.userId }}</li>
    <li>firstName: {{ post.firstName }}</li>
    <li>LastName: {{ post.lastName }}</li>
    <li>username: {{ post.username }}</li>
    <li><img class="small" src="{{ post.userPicture }}"/> </li>
    <li>email: {{ post.email }}</li>
    <li>propertyId: {{ post.propertyId }}</li>
    <li>propertyTitle: {{ post.propertyTitle }}</li>
    <li>propertyType: {{ post.propertyType }}</li>
    <li>propertyAddress: {{ post.propertyAddress }}</li>
    <li [innerHTML]="post.propertyImages">  </li>
    <li>propertyDescription: {{ post.propertyDescription }}</li>
    <li>dateCreated_Formated: {{ post.dateCreated_Formated }}</li>
    </span>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>


    <h1 *ngIf="!loading">Comments</h1>
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()" novalidate>
    
        <input type="text" placeholder="reviewComment" formControlName="reviewComment" />
        <input type="text" placeholder="reviewRate" formControlName="reviewRate" />
        <button [disabled]="!form.valid" type="submit">Post</button>
      </form>
      
</div>
<div *ngFor="let review of reviews$ | async" >
    <span *ngIf="!loading">
    <li>{{ review.reviewId }}</li>
    <li>{{ review.propertyId }}</li>
    <li>{{ review.reviewRate }}</li>
    <li>{{ review.reviewComment }}</li>
    <li>{{ review.dateCreated }}</li>
    <li>{{ review.reviewerId }}</li>
    <li>{{ review.reviewerFName }}</li>
    <li>{{ review.reviewerLName }}</li>
    <li>{{ review.propertyOwnerId }}</li>
    <li>{{ review.propertyOwnerFName }}</li>
    <li>{{ review.propertyOwnerLName }}</li>
    <br>
    <br>
    </span>
</div>

