<span *ngIf="loading">
    child component {{ propertyId }}
</span>

<div *ngFor="let post of posts$ | async" >
    <span *ngIf="!loading">
    <li>userId: {{ post.userId }}</li>
    <li>firstName: {{ post.firstName }}</li>
    <li>LastName: {{ post.lastName }}</li>
    <li>username: {{ post.username }}</li>
    <li><img class="small" src="{{ post.userPicture }}"/> </li>
    <li>email: {{ post.email }}</li>
    <li>propertyId: {{ post.propertyId }}</li>
    <li>propertyTitle: {{ post.propertyTitle }}</li>
    <li>propertyType: {{ post.propertyType }}</li>
    <li>propertyAddress: {{ post.propertyAddress }}</li>
    <li [innerHTML]="post.propertyImages">  </li>
    <li>propertyDescription: {{ post.propertyDescription }}</li>
    <li>dateCreated_Formated: {{ post.dateCreated_Formated }}</li>
    </span>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

