<div class="story-container">
    <div class="margin-container">
      <div class="center">
        <h2><span>Room<span class="advisor">Advisor</span></span> faq</h2>
      </div>
      <div class="main-content">
        <h1> Thinking Limitless for people and for our World.  </h1>
        <h2> Our team is creating and thinking for better life and a purpose to have all people have rooms to stay. Shelter is one of the most important necessities of our life We make sure our ideas and creation gives people their needs in daily basis. </h2>  
      </div>
      <div class="secondary-content">
        <div class="statement">
          <h2> Our Team Care for people </h2>
          <h3> Our idea to give people comfortability to poeple who need shelters and lodging accomodation.</h3>
        </div>
        <div class="statement">
          <h2> Explore our Rooms.  </h2>
          <h3> Browse our comprehensive neighborhood guides to learn about the most desirable and most up-and-coming places to live in across different barangays near AUP. </h3>
        </div>
        <div class="statement">
          <h2> Our Team Care for people </h2>
          <h3> Our idea to give people comfortability to poeple who need shelters and lodging accomodation.</h3>
        </div>
        <div class="statement">
          <h2> Explore our Rooms.  </h2>
          <h3> Browse our comprehensive neighborhood guides to learn about the most desirable and most up-and-coming places to live in across different barangays near AUP. </h3>
        </div>
      </div>
    </div>
  </div>