<section class="min-h-screen flex flex-row justify-center items-center px-16 max-md:px-10 bg-white-dark">
  <div class="text-center w-2/3">
    <h1 class="mb-3 text-6xl font-thin text-gray-900">404</h1>
    <p class="mb-3 text-xl font-bold text-gray-900 md:text-2xl">
      Oh no! We couldn’t find the page you were looking for.
    </p>
    <p class="text-lg font-medium text-gray-700">
      Have questions? Head over to our <a href="https://github.com/Klylylydeee/rooms-advisor" target="_blank" class="underline">
      project documentation</a>, visit our<a href="https://github.com/Klylylydeee/rooms-advisor"target="_blank" class="underline">
      Community</a>for tutorials and the latest happenings, or go back to the
      <a routerLink="/home" class="underline">homepage</a>.
    </p>
  </div>
</section>
