<div class="header-container">
    <p class="roomadvisor-flex"> 
        <a routerLink="Home">
        <img src="/assets/icon/logo/roomadvisor-yellow.png" alt="">
        <span class="room">
                Room<span class="advisor">Advisor</span>
        </span>
    </a>
    </p>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li id="dropdown" class="dropdown">
                <button class="dropbtn">
                <a class="color">General Informations</a>
                <i class="fa fa-caret-down"></i>
                 </button>
                <div class="dropdown-content">
                    <a href="Support">Contact Us</a>
                    <a href="Developers">Developers</a>
                    <a href="Guidelines">Guidelines</a>
                    <a href="Statement">Mission <br>& Vision</a>
                    <a href="https://klylylydeee.github.io/RoomAdvisor/">RoomAdvisor V1</a>
                </div>
            </li>
            <li id="dropdown" class="dropdown">
                <button class="dropbtn">
                <a class="color">Check Available Rooms</a>
                <i class="fa fa-caret-down"></i>
                 </button>
                 <div class="dropdown-content">
                     <a href="Apartment/List">Apartment</a>
                     <a href="BedSpacer/List">Bed Spacer</a>
                     <a href="Dormitory/List">Dormitory</a>
                     <a href="Faculty/List">Faculty</a>
                 </div>
            </li>
            <li id="dropdown" class="dropdown">
                <button class="dropbtn">
                <a class="color">List your Room</a>
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="Apartment/Create">Apartment</a>
                    <a href="BedSpacer/Create">Bed Spacer</a>
                    <a href="Dormitory/Create">Dormitory</a>
                    <a href="Faculty/Create">Faculty</a>
                </div>
            </li>

            <li>
                <div class="footer-icons">
                    <a routerLink="Home"><img src="/assets/icon/logo/roomadvisor-white.png" alt=""></a>
                    <a href="https://github.com/Klylylydeee/angular-roomadvisor/commits/master"><i class="fab fa-github fa-sm"></i></a>
                    <a href="https://www.messenger.com/t/RoomAdvisor"><i class="fab fa-facebook-messenger fa-sm"></i></a>
                    <a href="https://www.twitter.com/t/RoomAdvisor"><i class="fab fa-twitter fa-sm"></i></a>
                    <a href="https://www.instagram.com/t/RoomAdvisor"><i class="fab fa-instagram fa-sm"></i></a>
                    <a routerLink="Developers"><i class="fas fa-users fa-sm"></i></a>
                    <a href="https://klylylydeee.github.io/RoomAdvisor/"><img src="/assets/icon/logo/roomadvisor-white.png" alt=""></a>

                </div>
            </li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
</div>