<div class="support-container">
    <div class="margin-container">
        <div class="form-container">
            <div class="header">
                    <h1> <i class="fas fa-envelope"></i>Contact Us</h1>
                    <h2>Got a question? We'd love to hear from you. Send us a message and we'll respond as soon as possible.</h2>
            </div>
            <div class="content">
                <div class="container-flex">
                    <input type="text" placeholder="FIRST NAME">
                    <input type="text" placeholder="LAST NAME">
                </div>
                <div class="container-flex">
                    <input type="text" placeholder="EMAIL ADDRESS">
                    <input type="text" placeholder="PHONE NUMBER">
                </div>
                <textarea placeholder=""></textarea>
                <button>Send Message</button>
            </div>
        </div>
    </div>
</div>