@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~ngx-toastr/toastr';

html {
    height: 100%
}
.back{
    background-image:url("https://i.ibb.co/bQz2rRj/Desktop-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    // used in posts view component
    .small{
        height: 100px;
        width: 100px;
    }
}

.app-padding{
    padding: 0 3rem;
    @media screen and (max-width: 768px) {
        padding: 0 2.5rem;
    }
    @media screen and (max-width: 425px) {
        padding: 0 1.25rem;
    }
    @media screen and (max-width: 375px) {
        padding: 0 1rem;
    }
    @media screen and (max-width: 320px) {
        padding: 0 .5rem;
    }
}

.toastr-link{
    color: red !important;
}