@import '~ngx-toastr/toastr';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

$fontOne: "Montserrat", sans-serif;
$fontTwo: "Roboto", sans-serif;
$fontThree: "Hind Madurai", sans-serif;
$fontFour: "Hind", sans-serif;

$colorPrimary: red;
$colorSecondary: red;
$colorTertiary: red;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: black;
    font-family: $fontTwo;
    // used in posts view component
    .small{
        height: 100px;
        width: 100px;
    }
}

.app-padding{
    padding: 0 3rem;
    @media screen and (max-width: 768px) {
        padding: 0 2.5rem;
    }
    @media screen and (max-width: 425px) {
        padding: 0 1.25rem;
    }
    @media screen and (max-width: 375px) {
        padding: 0 1rem;
    }
    @media screen and (max-width: 320px) {
        padding: 0 .5rem;
    }
}

.toastr-link{
    color: red !important;
}