<nav>
    <label for="menu">
            <i class="fas fa-bars"></i>
            <div class="roomadivsor-flex">
                <a routerLink="#">
                    <img src="/assets/icon/logo/roomadvisor-yellow.png" alt="">
                    <h1>Room<span class="logo-span">Advisor</span></h1>
                </a>
            </div>
        </label>
    <input type="checkbox" id="menu">
    <div class="content-items">
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="">World</a></li>
            <li><a href="#">Hello</a></li>
        </ul>
    </div>
    <div class="roomadvisor-flex">
        <img src="/assets/icon/logo/roomadvisor-yellow.png" alt="">
        <a routerLink="#">
            <h1>Room<span class="logo-span">Advisor</span></h1>
        </a>
    </div>
</nav>