<section class="min-h-screen flex flex-col justify-center px-16 max-md:px-10 font-montserrat bg-white-light select-none" id="about-us">
  <div class="test-me">
  </div>  
  <div class="w-full mx-auto md:w-5/6 z-10">
    <div class="text-left md:text-center">
      <p class="mb-8 text-sm font-bold tracking-widest text-green-light">
        About us
      </p>
      <h2 class="mb-10 font-serif text-xl italic font-thin text-white-light md:leading-snug md:text-3xl">
        "RoomsAdvisor is a web application that aims to connect end users and property owners through 
        their listing of properties such as rooms for rent, apartments, dormitories, houses, and etc. 
        in which aiding the end users in finding the room that meets their needs!”
      </h2>
    </div>
    <div class="">
      <a routerLink="/our-team" class="flex items-center justify-start md:justify-center">
        <div class="avatar">
          <img src="https://avatars.githubusercontent.com/u/54757741?s=460&u=389c362a85cef93392ab908771be182c656d1b44&v=4" alt="" />
        </div>
        <div class="ml-4">
          <h2 class="mb-1 text-sm font-semibold tracking-widest text-white-light ">
            Klyde Guevarra
          </h2>
          <p class="text-sm font-semibold tracking-widest text-gray-400 ">
            Developer
          </p>
        </div>
      </a>
    </div>
  </div>
</section>