<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Meet the <span>Room<span class="roomadvisor">Advisor</span></span> Team</h1>
                <p>Our winning culture defines the attitude and behaviours that will be required of us to make our mission and vision a reality.</p>
            </div>
        </div>
        <div class="row">
            <div class="team-items">
                <div class="item">
                    <img src="/assets/img/developers/KlydeG.jpg" alt="/assets/img/developers/default.png" />
                    <div class="inner">
                        <div class="info">
                            <h5>Klyde Guevarra</h5>
                            <p>Lead Developer</p>
                            <p class="hidden-item">"We should consider ourselves lucky that we are born during this time when technological advancements are flourishing and we are getting to enjoy the benefits. let us all take a pledge today to only make a fair use of technology
                                for the realization of our goals and not making ourselves slaves of technology"</p>
                            <div class="social-links">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                <a href="#"><i class="fab fa-github fa-sm"></i></a>
                                <a href=""><i class="fas fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/img/developers/CarlG.jpg" alt="/assets/img/developers/default.png" />
                    <div class="inner">
                        <div class="info">
                            <h5>Carl Garces</h5>
                            <p>Front-End Developer</p>
                            <p class="hidden-item">"Hi i'm carl luis garces, i love cars especially when i was a kid. i always admire that someday i can customize cars. i am a 2nd year college student, currently studying bsit at the adventist university of the philippnes. also
                                im an entreprenuer on automotive field."</p>
                            <div class="social-links">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                <a href="#"><i class="fab fa-github fa-sm"></i></a>
                                <a href=""><i class="fas fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/img/developers/KennF.jpg" alt="/assets/img/developers/default.png" />
                    <div class="inner">
                        <div class="info">
                            <h5>Kennenth Famarin</h5>
                            <p>Front-End Developer</p>
                            <p class="hidden-item">"I am kenneth m. famarin, second year bsit student. most of all i'm a lazy person when i get tired of something i will not do it also i give them a reminder that i'm not going to do it if the task is important i will take consideration
                                sometimes."
                            </p>
                            <div class="social-links">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                <a href="#"><i class="fab fa-github fa-sm"></i></a>
                                <a href=""><i class="fas fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/img/developers/FrancisG.jpg" alt="/assets/img/developers/default.png" />
                    <div class="inner">
                        <div class="info">
                            <h5>Francis Gabuyo</h5>
                            <p>Front-End Developer</p>
                            <p class="hidden-item">"Hi i'm jhon francis gabuyo, you can call me gabby or gabs one of the collaborators of room advisor i am 20 years old and a second-year college in aup."</p>
                            <div class="social-links">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                <a href="#"><i class="fab fa-github fa-sm"></i></a>
                                <a href=""><i class="fas fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/img/developers/default.png" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>JB Dumalaga</h5>
                            <p>Front-End Developer</p>
                            <p class="hidden-item">"I am JB Dumalaga. a student developer at the adventist university of the philippines taking up bachelor of science in information technology. i am a person driven by my passion for technology and urge to make the world a better
                                place for everyone"</p>
                            <div class="social-links">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                <a href="#"><i class="fab fa-github fa-sm"></i></a>
                                <a href=""><i class="fas fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://klylylydeee.github.io/RoomAdvisor/WebDevTeam/MikkoA.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Mikko Almendras</h5>
                            <p>Front-End Developer</p>
                            <p class="hidden-item">"I am Mikko Almendras. a student developer at the adventist university of the philippines taking up bachelor of science in information technology. i am a person driven by my passion for technology and urge to make the world a better
                                place for everyone"</p>
                            <div class="social-links">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                <a href="#"><i class="fab fa-github fa-sm"></i></a>
                                <a href=""><i class="fas fa-address-card"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>