<!-- <div class="mission-vision-statement">
    <div class="mission">
      <h2> Our Mission Statement </h2></div>
    <div class="vission">
      <h3> Our Vision Statment</h3></div>
</div> -->
<div class="container">
  <div class="guideline-header">
    <span class="room">
      Our<span class="advisor">Statement</span>
    </span>
  </div>
  <!-- <div class="guideline-body">
      <h2> For Customers  </h2>
      <p> 1. Every Customer must ensure payment booking on our app thru CreditCard, Gcash or Onsite payment using RoomAdvisor App.  </p>
      <p> 2. Every Student must have consent from their parents to book in our Rooms.</p>
      <p> 3. The RoomAdvisor Administrator will not accept accept responsibility for the loss and damage to any personal belongings left by the customer.</p>
      <p> 4. Do not smoke in area where it easily cause of the fire, "NO SMOKING IN BED OR IN THE ROOM"</p>
      <p> 5. Gambling or any other behavior that is againts public morals in the hallways are prohibited.</p>
      <p> 6. Installation of any foreign items to rooms or any part of the building is prohibited.</p>
      <p> 7. Removing item from rooms are moving them to other places in hotel/room is prohibited.</p>
      <p> 8. When being used, DO NOT TOUCH THE FIRE EXTINGUISHER.</p>
      <p> 9. Lodgers must keep noise to a minimum. </p>
      <p> 10. Customers must report any lost of keys immdiately to the Owner. </p>
    </div>
  
  <div class="nosmokingicon">
    <img src="assets/icon/logo/nosmoking.png" alt=""  >  <img src="assets/icon/logo/nodrugs.png" alt=""> <img src="assets/icon/logo/nostealing.png" alt="">
  </div> -->
  <div class="guideline-body-stud">
    <h3>Mission</h3>
    <p> Our mission is to provide comfy rooms to people who needs the most. Give them relaxtion thru lodging accomodation. With fun and excitement on vacaytion needs. Get together with your family near Schools and hotels. </p>
    <h3>Vision</h3>
    <p> Our Vision to give people more easier and accesability to the lodging accomodation with right price.</p>
    
  </div>
  
</div>
