.footer-container{
    background-color: rgb(185, 141, 141);
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            padding: 0 1rem;
        }
        ul:last-child{
            padding: 0;
        }
    }
}