<footer class="min-h-full color-hover bg-green-500 px-16 max-md:px-10 select-none text-white">
  <div class="max-w-full py-10 font-montserrat">
    <p class="text-3xl font-medium">RoomsAdvisor</p>
  </div>
  <div class="flex flex-wrap justify-between font-mulish max-md:flex-column">
    <div class="pb-5 pr-28">
      <p class="text-lg font-semibold">General</p>
      <a href="#about-us" target="_self" class="font-light pt-2 block">About Us</a>
      <a href="#benefits" target="_self" class="font-light pt-2 block">Contact Us</a>
      <a routerLink="/our-team" class="font-light pt-2 block">Our Team</a>
      <a routerLink="/privacy-policy" class="font-light pt-2 block">Privacy Policy</a>
    </div>
    <div class="pb-5">
      <p class="text-lg font-semibold">Documentation</p>
      <div class="flex flex-wrap">
        <a href="https://github.com/Klylylydeee/rooms-advisor" target="_blank" class="font-light pt-2 w-1/2 max-sm:w-full max-sm:block">
            Project Repository
        </a>
        <a href="https://rooms-advisor.netlify.app/" target="_blank" class="font-light pt-2 w-1/2 max-sm:w-full max-sm:block">
            Hosting Server
        </a>
        <a href="https://github.com/Klylylydeee/rooms-advisor/issues" target="_blank" class="font-light pt-2 w-1/2 max-sm:w-full max-sm:block">
            Bug Report
        </a>
        <a href="https://rooms-advisor.herokuapp.com/" target="_blank" class="font-light pt-2 w-1/2 max-sm:w-full max-sm:block">
            API Server
        </a>
      </div>
    </div>
    <div class="">
      <p class="text-lg font-semibold uppercase">Follow us on</p>
      <div class="flex flex-wrap">
        <a href="https://www.facebook.com/roomsadvisor/" target="_blank" class="flex font-light py-2 w-1/2 max-sm:w-full">
          <img class="h-8 -mt-1 mr-2" src="https://i.ibb.co/syVjxbG/facebook-3-256.png"/>
            Facebook
        </a>
        <a href="https://twitter.com/roomsadvisor/" target="_blank" class="flex font-light py-2 w-1/2 max-sm:w-full">
          <img class="h-8 -mt-1 mr-2 " src="https://i.ibb.co/6Hcd4Zw/twitter-3-256.png"/>
            Twitter
        </a>
        <a href="https://instagram.com/roomsadvisor/" target="_blank" class="flex font-light py-2 w-1/2 max-sm:w-full">
            <img class="h-8 -mt-1 mr-2" src="https://i.ibb.co/2q2QNQq/instagram-3-256.png"/>
            Instagram
        </a>
        <a href="https://snapchat.com/roomsadvisor/" target="_blank" class="flex font-light py-2 w-1/2 max-sm:w-full">
            <img class="h-8 -mt-1 mr-2" src="https://i.ibb.co/x2WNdSZ/snapchat-256.png"/>
            Snapchat
        </a>
      </div>
    </div>
  </div>
  <div class="flex justify-between pb-5 font-montserrat max-sm:flex-col">
      <p class="max-sm:w-1/2 max-md:min-w-full text-center hidden">© {{ totalYear }} RoomsAdvisor</p>
  </div>
</footer>
