<div class="footer-container app-padding">
  <div class="flex">
    <h1>RoomsAdvisor</h1>
    <div class="flex">
      <ul>
        For Beginners
        <li>Create a New Account</li>
        <li>Usability Guidelines</li>
      </ul>
      <ul>
        For Beginners
        <li>Create a New Account</li>
        <li>Usability Guidelines</li>
      </ul>
      <ul>
        For Beginners
        <li>Create a New Account</li>
        <li>Usability Guidelines</li>
      </ul>
      <ul>
        For Beginners
        <li>Create a New Account</li>
        <li>Usability Guidelines</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Copyright {{ totalYear }} • All rights reserved • RoomsAdvisor</h1>
  </div>
</div>
