<div class="list-container">
    <div class="margin">
          <div class="data-list">
                <div class="form-header">
                      <div class="flex-end">
                            <h1>Faculty</h1>
                      </div>
                </div>
                <div class="data-container" *ngFor="let Faculty of
                      members.reverse();
                      let i= index"> <!--- START OF UL-->
                      <div class="data-img">
                            <!-- <img src="{{ Faculty.facultyHomeImage }}"
                                  onerror="this.onerror=null;this.src='/assets/img/v.jpg';"> -->
                                  <figure>
                                        <img src="{{ Faculty.facultyHomeImage}}"
                                        onerror="javascript:this.src='/assets/img/v.jpg'" />
                                        <img src="{{ Faculty.facultyHomeImages }}"
                                        onerror="javascript:this.src='/assets/img/v.jpg'" />
                                        <img src="{{ Faculty.facultyHomeImage }}"
                                        onerror="javascript:this.src='/assets/img/v.jpg'" />
                                        <img src="{{ Faculty.facultyHomeImages }}"
                                        onerror="javascript:this.src='/assets/img/v.jpg'" />
                                        <img src="{{ Faculty.facultyHomeImage }}"
                                        onerror="javascript:this.src='/assets/img/v.jpg'" />
                                  </figure>
                      </div>
                      <div class="data-text">
                            <div class="data-set-info">
                                  <h2>{{ Faculty.facultyName }}</h2>
                                  <h4>{{ Faculty.facultyHomeAddress }}</h4>
                                  <div class="data-etc">
                                        <div class="data-owner">
                                              <h4>Owner Information</h4>
                                              <div class="owner-num">
                                                      <h5>Phone Number: <br>
                                                            <a href="tel:{{ Faculty.facultyPhoneNumber }}"> 
                                                                  {{ Faculty.facultyPhoneNumber }}   
                                                            </a> 
                                                      </h5>
                                                      <h5>Email Address: <br>
                                                            <a href="mailto:{{ Faculty.facultyEmailAddress }}?subject = Feedback&body = Message"> 
                                                                  {{ Faculty.facultyEmailAddress }}   
                                                            </a>
                                                      </h5>
                                              </div>
                                        </div>
                                        <div class="data-amenities">
                                              <h4>Amenities</h4>
                                              <div class="amenities-content">
                                                    <div
                                                          class="amenities-num">
                                                          <h5>Rooms: {{
                                                            Faculty.facultyRooms
                                                                }}</h5>
                                                          <h5>Student per
                                                                Room: {{
                                                                  Faculty.facultyPerRoom
                                                                }}</h5>
                                                          <h5>Bathroom: {{
                                                            Faculty.facultyBathroom
                                                                }}</h5>
                                                    </div>
                                                    <div
                                                          class="amenities-bol">
                                                          <h5>Internet connection? {{
                                                            Faculty.facultyInternetAccess
                                                                }}</h5>
                                                          <h5>Television?
                                                                {{
                                                                  Faculty.facultyTelevision
                                                                }}</h5>
                                                          <h5>Air condition?
                                                                {{
                                                                  Faculty.facultyAircondition
                                                                }}</h5>
                                                          <h5>Food Fee? {{
                                                            Faculty.facultyFoodFee
                                                                }}</h5>
                                                    </div>
                                              </div>
                                        </div>
                                  </div>
                            </div>
                            <div class="data-nav">
                                  <h4>₱{{ Faculty.facultyMonthlyFee }}/Monthly</h4>
                                  <span></span>
                                  <div class="nav-button">
                                        <a [routerLink]="['/Faculty/List',
                                                Faculty._id]" class="btn
                                              btn-primary"><button>View Page</button></a>
                                        <a [routerLink]="['/Faculty/Edit',
                                                Faculty._id]" class="btn
                                              btn-primary"><button>Edit</button></a>
                                        <a (click)="deleteFaculty(Faculty._id,i)" class="btn btn-danger">
                                          <button>
                                                Delete
                                          </button>
                                        </a>
                                  </div>
                            </div>
                      </div>
                </div>
          </div>
          <div class="developer">
                <ul><h3>Rules and Regulation</h3>
                      <li><h6> 1. Students in private accomodation should
                                  ensure that they do not cause any annoyance
                                  or distress to their neighbors which would
                                  bring roomadvisor credited Facultys/house
                                  into dispute. </h6></li>
                      <li> <h6> 2. Pets are not permitted within the student
                                  accomodation.</h6></li>
                      <li> <h6> 3. Students should have regard for the right
                                  of
                                  other students and residents to have a
                                  suitable environment in which to study and
                                  live and refrain from making excessive
                                  noise. For the comfort and safety of other
                                  students/residents noise levels must be kept
                                  to a minimum particularly between the hours
                                  of 10pm and 8am. Parties and loud music are
                                  not permitted. Students may, however, gather
                                  in each other’s houses socially but must
                                  ensure that other students/residents are not
                                  disturbed. </h6></li>
                      <li> <h6> 4. As in a hotel the requirements of fire
                                  safety
                                  in the student accommodation is paramount
                                  and there is a non-smoking policy within all
                                  student accommodation. ANY STUDENT FOUND
                                  INTERFERING WITH OR OBSTRUCTING ANY FIRE
                                  PROCEDURE OR PIECE OF EQUIPMENT OR SMOKING
                                  WILL BE subject to fines as laid down by the
                                  Lodging/hotel management. If interference
                                  takes place and it is not individually
                                  admitted, all occupants will pay the full
                                  fine. </h6></li>
                      <li><h6>These Terms will be applied fully and affect to
                                  your use of
                                  RoomAdvisor.com. By using this
                                  RoomAdvisor.com, you agreed to accept all
                                  terms and conditions written in here. You
                                  must not use this
                                  RoomAdvisor.com if you
                                  disagree with any of these RoomAdvisor.com
                                  Standard Terms and
                                  Conditions.</h6></li>
                </ul>
          </div>
    </div>
</div>
