<div class="services-container">
    <h2><span>Room<span class="advisor">Advisor</span></span> Service Guarantee</h2>
    <div class="grid-container">
        <div class="box">
            <div class="icon">
                <img src="assets/icon/services/bed-green.png" alt="">
            </div>
            <div class="content">
                <h3>Bed</h3>
                <p>Our clients proceed to standard quality that ensure our customers have a comfortable beds for everyone!  </p>
                 
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <img src="assets/icon/services/t.v-green.png" alt="">
            </div>
            <div class="content">
                <h3>Television</h3>
                <p>Ensure our client entertainment system gives customer a fun and relaxing accomodation.</p>
                 
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <img src="assets/icon/services/wifi-green.png" alt="">
            </div>
            <div class="content">
                <h3>Wifi</h3>
                <p>Every area of our client room have a quality wireless network system that gives customer enough speed to surf on the internet.</p>
                 
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <img src="assets/icon/services/toiletries-green.png" alt="">
            </div>
            <div class="content">
                <h3>Bathroom</h3>
                <p>Our clients proceeded to standard quality measurement for bathrooms to ensure the cleanliness/sanitation of rooms.</p>
                 
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <img src="assets/icon/services/water-bottle-green.png" alt="">
            </div>
            <div class="content">
                <h3>Water & Electricity</h3>
                <p>Clean water and electricity for our customers! Ensure your safety on accomodating rooms.</p>
                 
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <img src="assets/icon/services/shower-green.png" alt="">
            </div>
            <div class="content">
                <h3>Utilities</h3>
                <p>Quality Utilities like Food Storage, Kitchen Materials and other ulities that you can use while you stay.</p>
                 
            </div>
        </div>
    </div>
</div>
